<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <p ion-text text-center color="danger" *ngIf="this.messages.error != ''" color="danger">{{this.messages.error}}</p>
  <p ion-text color="success" *ngIf="this.messages.success != ''" color="success">{{this.messages.success}}</p>

  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      {{item.url}}<small>.ngrok.io</small>
      <small class="item-note" item-end>
        {{item.date}}
      </small>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
