<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Subdomains</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-scroll style="height:100vh" scrollY="true">     
      <ion-list no-lines scroll="true">
        <div ion-item *ngFor="let item of subdomains; let i = index">
          <div class="online-indicator" padding-right item-start>
            <div *ngIf="item.active" rounded class="online"></div>
            <div *ngIf="!item.active" rounded class="offline"></div>
          </div>
          <a padding-left (click)="itemTapped($event, item)">
            <small>{{item.url}}.ngrok.io</small>
          </a>
          <small class="item-note" item-end>
            {{item.date}}
          </small>
          <button ion-button outline icon-only item-end (click)="removeSubdomain(item, i)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </div>
      </ion-list>  
  </ion-scroll>
</ion-content>
